.ad {
    display: flex;

}

.login {
    display: flex;
    margin-top: 150px;
}

.facebook {
    display: flex;
    flex-direction: column;
}


.facebook_img img {
    width: 300px;
    height: 100px;
}

.facebook h2 {
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
}

.form {
    border-radius: 10px;
    background-color: white;
    width: 400px;
    text-align: center;
    box-sizing: border-box;
    padding: 18px;
    display: flex;
    flex-direction: column;
}

.forms {
    width: 100%;
}

#email_number {
    border-radius: 5px;
    border: #1c1e21 solid 1px;
    width: 100%;
    height: 46px;
    margin: 12px 0;
}

#password {
    border-radius: 5px;
    border: #1c1e21 solid 1px;
    width: 100%;
    height: 46px;
    margin: 12px 0;
}

#logbtn {
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    width: 100%;
    height: 48px;
    color: white;
}

.form a {
    margin: 12px;
    text-decoration: none;
    color: #1877f2;
}

.solid {
    width: 100%;
    height: 0.5px;
    background-color: #1c1e21;
}

#newaccountbtn {
    margin: auto;
    margin-top: 20px;
    color: white;
    background-color: #42b72a;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    width: 192px;
    height: 48px;
}

.signlog {
    margin-left: 250px;
    position: absolute;

}

.X {
    width: 100%;
    border: none;
    position: fixed;
    background-color: white;
    margin-left: 380px;
    margin-top: 20px;
    width: 40px;
    height: 40px;
    text-align: end;
    font-size: 40px;

}

.error {
    font-size: medium;
    color: red;
}